@use './variaveis.scss';

.menu  {
    display:flex;

    li {
        font-weight: bold;
        margin-left: 24px;
    

    a {
        color: variaveis.$button-text-color;
        text-decoration: none;
    }
    }
}